<div class="section-botones-movil">
   <div class="contenedor-botones-movil">
       <div class="txt-botones-movil">
        <h2>{{section.settings.titulo_botones}}</h2>
        <p>{{section.settings.texto_botones}}</p>
       </div>
       <div class="btn-botones-movil">

       </div>
   </div>
  
</div>


<div class="section-botones-desktop">
     
</div>




<style>

.section-botones-movil{
    background-image: url('https://cdn.shopify.com/s/files/1/0766/8829/4173/files/Botones_Movil_fondo_-_C_png.png?v=1686282584');
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: 100% 400px;
    
}

@media(min-width:576px){
    .section-botones-movil{
        background-size: 100% 650px;
        height: 650px;
    }
}



@media(min-width:800px){
    .section-botones-movil{
        display: none;
    }
}

.section-botones-desktop{
  display: none;
}

    @media(min-width:800px){
        .section-botones-desktop{
       display: flex;    
       width:100%;
       height:700px;
       background-image: url('https://cdn.shopify.com/s/files/1/0766/8829/4173/files/Botones_Compu_fondo_-_C_png_png.png?v=1686282495');
       background-repeat: no-repeat;
       background-size: 100% 700px;
       
    }
    }

    @media(min-width:1200px){
          .section-botones-desktop{
            background-size: 100% 800px;
            background-position: center;
          }
    }

    .section-botones-movil{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .contenedor-botones-movil{
        border: 1px solid black;
        width: 70%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }

    .btn-botones-movil {
        width: 100%;
        height: 110px;
        background-color: #fff;
        border-radius: 10px;
    }
  

</style>
{% schema %} 

{
  "name":"botones",
  "settings":[
    {
       "type":"text",
       "id":"titulo_botones",
       "label":"Agregar titulo"
    },
    {
     "type":"text",
     "id":"texto_botones",
     "label":"Agregar Descripcion"
    },
     {
       "type":"text",
       "id":"button_1",
       "label":"Ingresa el texto del boton 1"
     },
     {
       "type":"url",
       "id":"link_boton1",
       "label":"ingresa el link del boton 1"
     }
  ],
  "presets":[
     {
       "name":"botones"
     }
  ]
}



{% endschema %}