
<div class="section-botones-desktop">
     
</div>

<div class="section-botones-movil">

</div>


<style>

.section-botones-movil{
    background-image: url('https://cdn.shopify.com/s/files/1/0766/8829/4173/files/Botones_Movil_fondo_-_C_png.png?v=1686282584');
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100% 400px;
}

@media(min-width:576px){
    .section-botones-movil{
        background-size: 100% 550px;
    }
}



@media(min-width:768px){
    .section-botones-movil{
        display: none;
    }
}

.section-botones-desktop{
  display: none;
}

    @media(min-width:991px){
        .section-botones-desktop{
       display: flex;    
       width:100%;
       height:700px;
       background-image: url('https://cdn.shopify.com/s/files/1/0766/8829/4173/files/Botones_Compu_fondo_-_C_png_png.png?v=1686282495');
       background-repeat: no-repeat;
       background-size: 100% 600px;
       
    }
    }

    @media(min-width:1200px){
          .section-botones-desktop{
            background-size: 100% 800px;
          }
    }

    
  

</style>
{% schema %} 

{
  "name":"botones",
  "settings":[
     {
       "type":"text",
       "id":"button_1",
       "label":"Ingresa el texto del boton 1"
     },
     {
       "type":"url",
       "id":"link_boton1",
       "label":"ingresa el link del boton 1"
     }
  ],
  "presets":[
     {
       "name":"botones"
     }
  ]
}



{% endschema %}