
<div class="section-botones-desktop">
     
</div>


<style>
    .section-botones-desktop{
       width:100%;
       height:600px;
       background-image: url('https://cdn.shopify.com/s/files/1/0766/8829/4173/files/Botones_Compu_fondo_-_C_png_png.png?v=1686282495');
    }

</style>
{% schema %} 

{
  "name":"botones",
  "settings":[
     {
       "type":"text",
       "id":"button_1",
       "label":"Ingresa el texto del boton 1"
     },
     {
       "type":"url",
       "id":"link_boton1",
       "label":"ingresa el link del boton 1"
     }
  ],
  "presets":[
     {
       "name":"botones"
     }
  ]
}



{% endschema %}