<div class="contenedor-movil-comodidad">
    <div class="txt-movil-contenedor">
          <h2> Descubre la comodidad y seguridad </h2>
          <p>que te brinda una cerradura inteligente.</p>
    </div>
    <div class="cta-comodidad-movil">
        <a href=""></a>
    </div>
</div>

<style>

</style>

<div class="contenedor-dsktop-comodidad">

</div>




{%  schema %} 

 {
    "name":"Bloque_comodidad",
     "settings": [
        {
            "type":"text",
            "id":"titulo_comodidad",
            "label":"Ingresa el titulo comodidad"
        } 
     ],
     "presets":[ 
        {
            "name":"Bloque Comodidad"
        }
     ] 
 }


{%  endschema %}