<div class="contenedor-movil-comodidad">
    <div class="txt-movil-contenedor">
          <h2> {{ section.settings.titulo_comodidad }} </h2>
          <p> {{ section.settings.texto_comodidad}} </p>
    </div>
    <div class="cta-comodidad-movil">
        <a href=" {{ section.settings.link_boton }} "> {{ section.settings.button_comodidad }} </a>
    </div>
</div>

<style>

    .contenedor-movil-comodidad{
        background-image: url('https://cdn.shopify.com/s/files/1/0766/8829/4173/files/Beneficio_Movil-C.png?v=1686980567') ;
        background-size: 445px 400px;
        width: 100%;
        height: 400px;
        background-repeat: no-repeat;
        position: relative;
    }

    @media(min-width:445px){
        .contenedor-movil-comodidad {
         background-size: cover;
         height: 550px;
}

    }

    @media(min-width:768px){
        .contenedor-movil-comodidad {
            height:650px;
        }
    }
    @media(min-width:991px){
        .contenedor-movil-comodidad{
            display: none;
        }
    }

    .txt-movil-contenedor {
        width: 90%;
        margin: 0px auto;
        height: 150px;
        
        position: absolute;
        bottom: 40px;

    }

    @media(min-width:576px){

        .txt-movil-contenedor {
            left: 5%;

}

    }

  

    .txt-movil-contenedor h2 {
        color: #0072C5;
        font-weight: 600;
        font-size: 22px;
        position: relative;
        top: 15px;
    }

    .txt-movil-contenedor p {
        font-size: 18px;
        font-weight: 600;
    }

    .cta-comodidad-movil{
        position: absolute;
        bottom: 20px;
        right: 3%;
    }

    @media(min-width:576px){
    .cta-comodidad-movil{
        left: 5%;
    }
   }

    .cta-comodidad-movil a {
        background-color: #0072C5;
        padding: 10px 25px;
        border-radius: 25px;
        text-decoration: none;
        color: #fff;
        font-weight: 600;
    }

 

  
</style>

<div class="contenedor-dsktop-comodidad">

</div>




{%  schema %} 

 {
    "name":"Bloque_comodidad",
     "settings": [
        {
            "type":"text",
            "id":"titulo_comodidad",
            "label":"Ingresa el titulo comodidad"
        },
        {
            "type":"text",
            "id":"texto_comodidad",
            "label":"Ingresa el texto de la description"
        },
        {
            "type":"text",
            "id":"button_comodidad",
            "label":"Ingresa el texto del boton"
        },
        {
            "type":"url",
            "id":"link_boton",
            "label":"Ingresa el link del boton cta"
        }
     ],
     "presets":[ 
        {
            "name":"Bloque Comodidad"
        }
     ] 
 }


{%  endschema %}