

<h1>Bloque comodidad</h1>




{%  schema %} 

 {
    "name":"Bloque_comodidad",
     "settings": [
        {
            "type":"text",
            "id":"titulo_comodidad",
            "label":"Ingresa el titulo comodidad"
        } 
     ],
     "presets":[ 
        {
            "name":"Bloque Comodidad"
        }
     ] 
 }


{%  endschema %}