<div class="contenedor-movil-comodidad">
    <div class="txt-mopvil-contenedor">
          
    </div>
</div>

<style>

</style>




{%  schema %} 

 {
    "name":"Bloque_comodidad",
     "settings": [
        {
            "type":"text",
            "id":"titulo_comodidad",
            "label":"Ingresa el titulo comodidad"
        } 
     ],
     "presets":[ 
        {
            "name":"Bloque Comodidad"
        }
     ] 
 }


{%  endschema %}