<h1>hola</h1>


{% schema %} 

 {
   "name":"footer-info",
   "settings": [
     
      {
        "type":"text",
        "id":"titulo_1_footer",
        "label":"Ingresa el primer titulo del footer"
      },
      {
        "type":"text",
        "id":"parrafo_1_footer",
        "label":"Ingresa el texto del parrafo 1"
      }
      
   ]
 }


{% endschema %}