<div class="contenedor-footer-movil">
       <div class="columna1-footer col">
        <h2>{{ section.settings.titulo_1_footer }}</h2>
       <p>{{ section.settings.parrafo_1_footer }}</p>
       </div>
       <div class="columna2-footer col">
        <h2>{{ section.settings.titulo_2_footer }}</h2>
       <p>{{ section.settings.parrafo_2_footer }}</p>
       </div>
       <div class="columna3-footer col conversemos">
         <h2>Conversemos</h2>
         <div class="dato">
           <img src="" alt="">
           <p>Asesoria: <span>6674202602</span> </p>
         </div>
         <div class="dato">
          <img src="" alt="">
          <p>Asesoria: <span>6674202602</span> </p>
        </div>
       </div>
       <div class="columna-direccion col">
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, deleniti velit? Odio aut illo illum vitae mollitia exercitationem distinctio, animi et beatae, accusantium dolorum aliquam in voluptate adipisci ex totam!</p>
       </div>
       <div class="columna-envios col">
        <img src="" alt="">
        <p>Envíos gratis a todo México</p>
       </div>
       <div class="columna-menu-explora col">
         <h1>Explora</h1>
         <a href="">Menu</a>
         <a href="">Menu</a>
         <a href="">Menu</a>
         <a href="">Menu</a>
         <a href="">Menu</a>
       </div> 
       <div class="columna-redes col">
         <img src="" alt="">
         <img src="" alt="">
         <img src="" alt="">
         <img src="" alt="">
         
       </div>
       <div class="columna-logo col">
          <img src="" alt="">
       </div>
       <div class="terminos col">
         <a href=""></a>
         <a href=""></a>
       </div>
       
       

</div>

<style> 
.contenedor-footer-movil {
  width: 100%;
  height: auto; 
  background-color: #0072C5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding: 50px 0px;

}

.col {
  width: 90%;
  margin: 0px auto;
  height: auto;
}

.columna1-footer h2 , .columna2-footer h2 , .conversemos h2{
   color: #fff;
   font-weight: 600;
   font-family: 'Poppins', sans-serif;
   text-align: center;
   font-size: 24px;
}

.columna1-footer p , .columna2-footer p {
  text-align: center;
  font-size: 16px;
  color: #fff;
}



</style>

{% schema %} 

 {
   "name":"footer-info",
   "settings": [
     
      {
        "type":"text",
        "id":"titulo_1_footer",
        "label":"Ingresa el primer titulo del footer"
      },
      {
        "type":"textarea",
        "id":"parrafo_1_footer",
        "label":"Ingresa el texto del parrafo 1"
      },
      {
        "type":"text",
        "id":"titulo_2_footer",
        "label":"Ingresa el texto del titulo 2"
      },
      {
        "type":"textarea",
        "id":"parrafo_2_footer",
        "label":"Ingresa el parrafo 2"
      }
      
   ],
   "presets":[
   
      {
        "name":"footer"
      }
   
   ]
 }


{% endschema %}