<div class="contenedor-footer-movil">
       <h2>{{ section.settings.titulo_1_footer }}</h2>
       <p>{{  }}</p>
</div>

<style> 
.contenedor-footer-movil {
  width: 100%;
  height: 600px;
}
</style>

{% schema %} 

 {
   "name":"footer-info",
   "settings": [
     
      {
        "type":"text",
        "id":"titulo_1_footer",
        "label":"Ingresa el primer titulo del footer"
      },
      {
        "type":"text",
        "id":"parrafo_1_footer",
        "label":"Ingresa el texto del parrafo 1"
      },
      {
        "type":"image_picker",
        "id":"icono_whatsapp",
        "label":"Ingresa el icono de whatsapp"
      }
      
   ],
   "presets":[
   
      {
        "name":"footer"
      }
   
   ]
 }


{% endschema %}