<div class="contenedor-footer-movil">
       <div class="columna1-footer">
        <h2>{{ section.settings.titulo_1_footer }}</h2>
       <p>{{ section.settings.parrafo_1_footer }}</p>
       </div>
       <div class="columna2-footer">
        <h2>{{ section.settings.titulo_2_footer }}</h2>
       <p>{{ section.settings.parrafo_2_footer }}</p>
       </div>
       <div class="columna3-footer">
         <div class="dato">
           <img src="" alt="">
           <p>Asesoria: <span>6674202602</span> </p>
         </div>
         <div class="dato">
          <img src="" alt="">
          <p>Asesoria: <span>6674202602</span> </p>
        </div>
       </div>
       <div class="columna-direccion">
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, deleniti velit? Odio aut illo illum vitae mollitia exercitationem distinctio, animi et beatae, accusantium dolorum aliquam in voluptate adipisci ex totam!</p>
       </div>
       <div class="columna-envios">
        <img src="" alt="">
        <p></p>
       </div>
       
       

</div>

<style> 
.contenedor-footer-movil {
  width: 100%;
  height: 600px;
}

.contenedor-footer-movil img {
  width: 80px;
  height: 80px;
}
</style>

{% schema %} 

 {
   "name":"footer-info",
   "settings": [
     
      {
        "type":"text",
        "id":"titulo_1_footer",
        "label":"Ingresa el primer titulo del footer"
      },
      {
        "type":"textarea",
        "id":"parrafo_1_footer",
        "label":"Ingresa el texto del parrafo 1"
      },
      {
        "type":"text",
        "id":"titulo_2_footer",
        "label":"Ingresa el texto del titulo 2"
      },
      {
        "type":"textarea",
        "id":"parrafo_2_footer",
        "label":"Ingresa el parrafo 2"
      }
      
   ],
   "presets":[
   
      {
        "name":"footer"
      }
   
   ]
 }


{% endschema %}