 <div class="contenedor-footer-movil">
    
 </div> 


 <style>

  .contenedor-footer-movil {
    width: 100%;
    height: 800px;
    background-color: ;
  }

 </style>

 <div class="contenedor-footer-desktop">
   
 </div>

 <style>

 </style>