<h1>hola</h1> 



{% schema %} 

 {
    "name":"galeria-slider",
    "settings":[
       {
        "type":"image_picker",
        "id":"imagen_slider_1",
        "label":"Ingresa la imagen 1"
       },
       {
        "type":"image_picker",
        "id":"imagen_slider_2",
        "label":"Ingresa la imagen 2"
       },
       {
        "type":"image_picker",
        "id":"imagen_slider_3",
        "label":"Ingresa la imagen 3"
       },
       {
        "type":"image_picker",
        "id":"imagen_slider_4",
        "label":"Ingresa la imagen 4"
       },
       {
        "type":"image_picker",
        "id":"imagen_slider_5",
        "label":"Ingresa la imagen 5"
       },
       {
        "type":"image_picker",
        "id":"imagen_slider_6",
        "label":"Ingresa la imagen 6"
       }
    ],
    "presets":[
       {
         "name":"galeria-slider"
       }
    ]
 }


{% endschema %}