<h1>hola</h1> 



{% schema %} 

 {
    "name":"galeria-slider",
    "settings":[
       {
        "type":"image_picker",
        "id":"imagen_slider_1",
        "label":"Ingresa la imagen 1"
       }
    ]
 }


{% endschema %}