
<h1></h1>





{% schema %}


 {
    "name":"hero-1",
    "settings":[
    
        {
            "type":"image_picker",
            "id":"banner_1",
            "label":"ingresa el banner 1"
        }
    ],
    "presets": [
       {
          "name":"hero-1"
       }
    ]

 }



{% endschema %}