
<h1>hero</h1>





{% schema %}


 {
    "name":"hero-1",
    "settings":[
    
        {
            "type":"image_picker",
            "id":"banner_1",
            "label":"ingresa el banner 1"
        },
        {
            "type":"text",
            "id":"texto_banner",
            "label":"ingresa el texto del banner"
        },
        {
            "type":"text",
            "id":"texto_boton_banner",
            "label":"ingresa el texto del boton del banner"
        },
        {
            "type":"url",
            "id":"link_btn_banner",
            "label":"ingresa la url del boton del banner"
        }
    ], 
    "presets": [
       {
          "name":"hero-1"
       }
    ]

 }



{% endschema %}