
<div class="contenedor-banner">
     
     <div class="contenido-banner-desktop">
         <h3 class="texto-desktop-banner"><span class="texto-resaltado-banner">{{ section.settings.texto_span_banner }}</span> {{section.settings.texto_banner }}</h3>
         <a href="#">{{ section.settings.texto_boton_banner }}</a>
     </div>
</div>

<style>
    .contenedor-banner{
       display: none;
       

    }

    @media(min-width:992px){
        .contenedor-banner{
        background-image: url('https://cdn.shopify.com/s/files/1/0766/8829/4173/files/Banner_Compu_S_T-Comp.png?v=1686853848');
        width: 100%;
        height: 650px;
        position: relative;
        background-repeat: no-repeat;
        background-size: contain;
       

    }
    }

  
    @media(min-width:1600px){
        .contenedor-banner{
            background-size: cover;
        }
    }


    .contenido-banner-desktop{
        position: absolute; 
        top: 12%;
        left: 20%;
        width: 60%;
        height: 150px;
        text-align: center;
        
        
    }

    @media(min-width:1600px){
        .contenido-banner-desktop{
            max-width: 800px;
            width: 700px;
          top: 18%;
          left: 30%;
        }
    }

    
    .texto-desktop-banner{
        font-size: 40px;
        font-weight: 600;
    }

   

    .texto-resaltado-banner{
        color: #0072C5;
        font-weight: 600;
    }

    .contenido-banner-desktop a {
        width: 200px;
        height: 40px;
        border-radius: 25px;
        background-color:  #0072C5;
        color: white;
        padding: 15px 35px ;
        text-decoration: none;
    }



</style>

<div class="contenedor-banner-movil">
    <h1>hola</h1>
</div>

<style>
     .contenedor-banner-movil{
       
        display: flex;
        background-image: url('https://cdn.shopify.com/s/files/1/0766/8829/4173/files/Banner_Movil-C.png?v=1686871800');

     }

     @media(min-width:991px){
        .contenedor-banner-movil{
            display: none;
            
        }
        
     }
</style>



{% schema %}


 {
    "name":"hero-1",
    "settings":[
    
        {
            "type":"image_picker",
            "id":"banner_1",
            "label":"ingresa el banner 1"
        },
        {
            "type":"text",
            "id":"texto_banner",
            "label":"ingresa el texto del banner"
        },
        {
            "type":"text",
            "id":"texto_span_banner",
            "label":"Ingresa el texto resaltado"

        },
        {
            "type":"text",
            "id":"texto_boton_banner",
            "label":"ingresa el texto del boton del banner"
        },
        {
            "type":"url",
            "id":"link_btn_banner",
            "label":"ingresa la url del boton del banner"
        }
    ], 
    "presets": [
       {
          "name":"hero-1"
       }
    ]

 }



{% endschema %}