
<div class="contenedor-banner">
     
     <div class="contenido-banner-desktop">
         <h3><span>{{ section.settings.texto_span_banner }}</span>{{section.settings.texto_banner }}</h3>
         <a href="#">{{ section.settings.texto_boton_banner }}</a>
     </div>
</div>

<div class="contenedor-banner-movil">

</div>

<style>
    .contenedor-banner{
        background-image: url('https://cdn.shopify.com/s/files/1/0766/8829/4173/files/Banner_Compu_S_T-Comp.png?v=1686853848');
        width: 100%;
        height: 600px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .contenido-banner-desktop{
        position: absolute; 
        top: 30%;
        left: 30%;
        border: 1px solid black;
        width: 50%;
        height: 350px;
        
        
    }
</style>



{% schema %}


 {
    "name":"hero-1",
    "settings":[
    
        {
            "type":"image_picker",
            "id":"banner_1",
            "label":"ingresa el banner 1"
        },
        {
            "type":"text",
            "id":"texto_banner",
            "label":"ingresa el texto del banner"
        },
        {
            "type":"text",
            "id":"texto_span_banner",
            "label":"Ingresa el texto resaltado"

        },
        {
            "type":"text",
            "id":"texto_boton_banner",
            "label":"ingresa el texto del boton del banner"
        },
        {
            "type":"url",
            "id":"link_btn_banner",
            "label":"ingresa la url del boton del banner"
        }
    ], 
    "presets": [
       {
          "name":"hero-1"
       }
    ]

 }



{% endschema %}