<h1 class="titulo_caracteristicas">{{ section.settings.titulo-iconos }}</h1>

<div class="contenedor-iconos-producto">
    <div class="icono-producto">
        <img src="{{ section.settings.icono_pr_1  }}" alt="">
    </div>
</div>



<style>
    .titulo_caracteristicas{
        text-align: center;
    }
</style>




{% schema %}

{
    "name":"iconos-pr",
    "settings":[
    
      {
        "type":"text",
        "id":"titulo-iconos",
        "label":"Ingresa el texto"
      },
      {
        "type":"image_picker",
        "id":"icono_pr_1",
        "label":"Ingresa el icono 1"
      },
      {
        "type":"image_picker",
        "id":"icono_pr_2",
        "label":"Ingresa el icono 2"
      },
      {
        "type":"image_picker",
        "id":"icono_pr_3",
        "label":"Ingresa el icono 3"
      },
      {
        "type":"image_picker",
        "id":"icono_pr_4",
        "label":"Ingresa el icono 4"
      },
      {
        "type":"image_picker",
        "id":"icono_pr_5",
        "label":"Ingresa el icono 5"
      }

    ],
    "presets":[
       {
        "name":"iconos-pr"
       }
    ]
}


{% endschema %}