
<div id="accordion">
    <h3>First header</h3>
    <div>First content panel</div>
    <h3>Second header</h3>
    <div>Second content panel</div>
  </div>

  <script>
   $(document).ready(function($){
    $( ".accordion" ).accordion({
  active: 2)}
   })

  </script>


{% schema %} 


{

    "name":"iconos-producto",
 "settings":[ 
 
    {
        "type":"text",
         "id":"titulo_1",
         "label":"Ingresa el titulo del bloque de iconos"
    }
 ],
 "presets":[
 
    {
        "name":"Iconos Producto"
    }
 ]

}

 



{% endschema %}