
<div id="accordion">
    <h3>First header</h3>
    <div>First content panel</div>
    <h3>Second header</h3>
    <div>Second content panel</div>
  </div>

  <script>
    $( ".accordion" ).accordion({
  active: 2
});
  </script>


{% schema %} 


{

}

 



{% endschema %}