<h1>{{ section.settings.titulo-iconos }}</h1>




{% schema %}

{
    "name":"iconos-pr",
    "settings":[
    
      {
        "type":"text",
        "id":"titulo-iconos",
        "label":"Ingresa el texto"
      },
      {
        "type":"image_picker",
        "id":"icono_pr_1",
        "label":"Ingresa el icono 1"
      },
      {
        "type":"image_picker",
        "id":"icono_pr_2",
        "label":"Ingresa el icono 2"
      }

    ],
    "presets":[
       {
        "name":"iconos-pr"
       }
    ]
}


{% endschema %}