<h1>hola mundo</h1>




{% schema %}

{
    "name":"iconos-pr",
    "settings":[
    
      {
        "type":"text",
        "id":"titulo-iconos",
        "label":"Ingresa el texto"
      }
    ]
}


{% endschema %}