
<div class="contenedor-instalacion-movil">
    
      
</div>



{% schema %}

  {
    "name":"Bloque-instalacion",
    "settings": [

        {
            "type":"text",
            "id":"texto_instalacion",
            "label":"texto de instalacion"
        },
        {
          "type":"text",
          "id":"texto_resaltado_instalacion",
          "label":"texto resaltado de instalacion"
        }
    ],
    "presets":[
        {
            "name":"bloque instalacion"
        }
    ]
  }



{% endschema %}