
<div class="contenedor-instalacion-movil">

    <div class="contenido-instalacion-movil">
         <div class="txt-instalacion"> 
        
            <h3> Servicio de <span> <br> Instalación</span></h3>
            <p>Asegura una correcta instalación con uno de nuestros <span>Técnico Certificados.</span> </p>
         </div>
         <div class="cta-instalacion-movil">
            <a href="">AGENDAR CITA ></a>
         </div>
    </div>
      
</div>


<style>
    .contenedor-instalacion-movil{
        background-image: url('https://cdn.shopify.com/s/files/1/0766/8829/4173/files/Servicio_Instalacion_movil-C.png?v=1686890100');
        width: 100%;
        height: 400px;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        display: flex;
    }

    @media(min-width:410px){
        .contenedor-instalacion-movil{
            background-size: cover;
            height: 600px;
        }
    }

    @media(min-width:991px){
         .contenedor-instalacion-movil{
            display: none;
         }
    }

    .contenido-instalacion-movil{
        position: absolute;
        bottom: 15px;
    }

    .txt-instalacion{
        width: 90%;
        margin: 0px auto;
        height: 200px;
        
    }

    .txt-instalacion h3{
        font-size: 16px;
        font-weight: 600;
    }

    .txt-instalacion h3 span {
        color: #0072C5;
        font-size: 24px;
       font-weight: 600;
    }

    .txt-instalacion p {
        font-weight: 600;
         
    }

    .cta-instalacion-movil{
        position: absolute;
        right: 5%;
        bottom: 10px;
    }

    @media(min-width:576px){
        .cta-instalacion-movil{
            left: 4%;

}
    }

   

    .cta-instalacion-movil a {
        background-color: #0072C5;
        text-decoration: none;
        color: #fff;
        width: 150px;
        height: 28px;
        padding: 5px 15px;
        border-radius: 25px;
        font-size: 12px;
        font-weight: 600;
    }
    



    .contenedor-instalacion-desktop{
     display: none;
    }

    @media(min-width:991px){
        
        .contenedor-instalacion-desktop{
        background-image: url('https://cdn.shopify.com/s/files/1/0766/8829/4173/files/Instalacion_Compu_S_T-Comp.png?v=1686890212');
        width: 100%;
        height: 650px;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
    }
    }
</style>

<div class="contenedor-instalacion-desktop">

</div>


{% schema %}

  {
    "name":"Bloque-instalacion",
    "settings": [

        {
            "type":"text",
            "id":"texto_instalacion",
            "label":"texto de instalacion"
        },
        {
          "type":"text",
          "id":"texto_resaltado_instalacion",
          "label":"texto resaltado de instalacion"
        }
    ],
    "presets":[
        {
            "name":"bloque instalacion"
        }
    ]
  }



{% endschema %}