
<div class="contenedor-instalacion-movil">

      
</div>
<style>
    .contenedor-instalacion-movil{
        background-image: url('https://cdn.shopify.com/s/files/1/0766/8829/4173/files/Servicio_Instalacion_movil-C.png?v=1686890100');
        width: 100%;
        h
    }
</style>


{% schema %}

  {
    "name":"Bloque-instalacion",
    "settings": [

        {
            "type":"text",
            "id":"texto_instalacion",
            "label":"texto de instalacion"
        },
        {
          "type":"text",
          "id":"texto_resaltado_instalacion",
          "label":"texto resaltado de instalacion"
        }
    ],
    "presets":[
        {
            "name":"bloque instalacion"
        }
    ]
  }



{% endschema %}