
<div class="contenedor-resenas">
     <div class="content-resenas">
         <div class="card-resena">
            
         </div>
     </div>
</div>





{% schema %} 

 {
    "name":"resenas",
"settings":[
   {
     "type":"image_picker",
     "id":"resena_1", 
     "label":"Ingresa la reseña 1"
   }
],
"presets":[
   {
     "name":"resenas"
   } 
]
 }


{% endschema %}